{% resource "mapviews/polyfill.includes.js" %}
{% resource "mapviews/polyfill.promise.js" %}
{% resource "mapviews/main" %}
{# resource "mapviews/vendor/html2canvas.js" #}
{# resource "mapviews/vendor/canvas2image.js" #}
{% resource "mapviews/vendor/leaflet.easyprint.js" %}
{# resource "mapviews/modules/export-png.js" #}

  <div
  data-module = "choroplethmap"
  data-module-resource-id = "{{ resource.id }}"
  data-module-resource-key-field = "{{ resource_view.resource_key_field }}"
  data-module-resource-value-field = "{{ resource_view.resource_value_field }}"
  data-module-resource-label-field = "{{ resource_view.resource_label_field }}"
  data-module-geojson-url = "{{ resource_view.geojson_url }}"
  data-module-geojson-key-field = "{{ resource_view.geojson_key_field }}"
  data-module-redirect-to-url = "{{ resource_view.redirect_to_url }}"
  data-module-filter-fields = "{{ h.dump_json(resource_view.filters) if resource_view.filters else '' }}"
  id = "choroplethmap-{{ resource_view.id }}"
  class = "navigablemap choroplethmap"
  style="width: 100%; height: 500px"
  >
</div>
